@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

.custom-border{
  transition: all 0.2s ease-out;
}

.custom-border:hover {
  border-bottom: 1px solid #00CE2C;
  transition: all 0.3s ease-in;
}

.circle-animation{
  width: 50px;
  height: 50px;
  background:#00bc4f; 
  margin: 0 4px; 
  border-radius: 50%; 
  box-shadow: 0 0 0 10px #00bc4f44, 0 0 50px #00bc5f, 0 0 100px #00bc4f; 
  animation: animate 1s linear infinite; 
}

@keyframes animate {
  0%{
    transform: scale(0); 
  }
  100%{
    transform: scale(0.2);
  }
}